.createGame {
  background: url("https://i.pinimg.com/originals/f0/67/a9/f067a9fc42a802c0ccc0926fe9b69a80.jpg");
  height: 100vh;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &-input {
    padding: 3rem;
    background-color: rgba(255, 136, 0, 0.699);
    border-radius: 15px;
    box-shadow: 2px 3px 11px 3px rgba(161, 150, 150, 0.88);
    -webkit-box-shadow: 2px 3px 11px 3px rgba(161, 150, 150, 0.88);
    -moz-box-shadow: 2px 3px 11px 3px rgba(161, 150, 150, 0.88);
  }

  &-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    input {
      height: 40px;
      border-radius: 10px;
      border: 1px solid transparent;
    }

    .btn-create {
      background-color: rgb(18, 158, 48);
      height: 56px;
      font-size: 20px;
      border: 1px solid transparent;
      cursor: pointer;
      margin-top: 20px;
      border-radius: 16px;
    }
  }
}
